

.main{
    text-align: center;
    padding: 18px;
    background-color: #CCD3CA;
    margin-top: 23px;
    position: relative;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }